@font-face {
  font-family: "Gotham";
  src: url("/src/assets/fonts/Gotham-Font/GothamLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Gotham";
  src: url("/src/assets/fonts/Gotham-Font/GothamBook.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url("/src/assets/fonts/Gotham-Font/GothamMedium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Gotham";
  src: url("/src/assets/fonts/Gotham-Font/GothamBold.ttf") format("truetype");
  font-weight: 700;
}
