@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts.css";

button {
  outline: none;
  &:hover {
    outline: none;
    border: 1px solid #88C140;
  }
  &:focus {
    outline: none;
  }
}
